@use './util' as u;

@font-face {
  font-family: 'DM Sans';
  src: url('../../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  src: url('../../assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf')
    format('truetype');
}

:root {
  --light-purple: hsl(254, 88%, 90%);
  --dark-purple: hsl(256, 67%, 59%);
  --light-yellow: hsl(31, 66%, 93%);
  --dark-yellow: hsl(39, 100%, 71%);
  --very-light-grey: hsl(0, 0%, 96%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  --ff-dm-sans: 'DM Sans', sans-serif;
}

body {
  padding: 32px 16px;
  background: var(--very-light-grey);
  font-family: var(--ff-dm-sans);
}

.grid {
  display: grid;
  gap: 32px;

  &__box {
    border-radius: 10px;
  }
}

.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background: var(--dark-purple);
  text-align: center;

  &__heading {
    margin-bottom: u.rem(24);
    font-size: u.rem(46);
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: u.rem(0.5);
    color: var(--white);

    &--highlighted {
      color: var(--dark-yellow);
    }

    &--italic {
      font-style: italic;
    }
  }

  &__image {
    max-width: 192px;
    margin-bottom: u.rem(8);
  }

  &__text {
    font-size: u.rem(18);
    line-height: 1.1;
    color: var(--light-purple);
  }
}

.platforms-box {
  padding: 14px 16px 16px 16px;
  background: var(--white);

  &__heading {
    font-size: u.rem(28);
    font-weight: 600;
    letter-spacing: u.rem(-2);
    line-height: 0.9;
    color: var(--black);
  }
}

.platforms-illustration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 311px;
  margin-bottom: u.rem(15);

  &__pill {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    padding-right: 20px;
    border-radius: 1000px;
    box-shadow: -15px 15px 20px rgba(0, 0, 0, 0.05);
  }

  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    background: var(--dark-yellow);
    border-radius: 50%;
  }

  &__icon {
    width: auto;
    height: 24px;
  }

  &__handle {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1;
    color: var(--black);
  }

  &__follower-count {
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    color: #c8c8c8;
  }
}
